USE [Timesheets]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 2019/09/16 5:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ProjectId] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timeslots]    Script Date: 2019/09/16 5:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timeslots](
	[TimeslotId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[HoursCaptured] [float] NOT NULL,
 CONSTRAINT [PK_TimeslotId] PRIMARY KEY CLUSTERED 
(
	[TimeslotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2019/09/16 5:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_UserId] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectId], [Name]) VALUES (2, N'	Stony Laser	')
INSERT [dbo].[Projects] ([ProjectId], [Name]) VALUES (3, N'	Magenta Rough Beam	')
INSERT [dbo].[Projects] ([ProjectId], [Name]) VALUES (4, N'	Liquid Flea	')
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[Timeslots] ON 

INSERT [dbo].[Timeslots] ([TimeslotId], [ProjectId], [UserId], [Date], [HoursCaptured]) VALUES (1, 2, 7, CAST(N'2018-02-12T00:00:00.000' AS DateTime), 8)
INSERT [dbo].[Timeslots] ([TimeslotId], [ProjectId], [UserId], [Date], [HoursCaptured]) VALUES (2, 2, 7, CAST(N'2018-02-05T00:00:00.000' AS DateTime), 9.5)
INSERT [dbo].[Timeslots] ([TimeslotId], [ProjectId], [UserId], [Date], [HoursCaptured]) VALUES (3, 2, 7, CAST(N'2018-02-06T00:00:00.000' AS DateTime), 7)
GO
SET IDENTITY_INSERT [dbo].[Timeslots] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username]) VALUES (1, N'Nompumelelo ')
INSERT [dbo].[Users] ([UserId], [Username]) VALUES (2, N'Timothy ')
INSERT [dbo].[Users] ([UserId], [Username]) VALUES (3, N'Yvonne ')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Timeslots]  WITH CHECK ADD  CONSTRAINT [FK_Timeslots_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
GO
ALTER TABLE [dbo].[Timeslots] CHECK CONSTRAINT [FK_Timeslots_Projects_ProjectId]
GO
ALTER TABLE [dbo].[Timeslots]  WITH CHECK ADD  CONSTRAINT [FK_Timeslots_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Timeslots] CHECK CONSTRAINT [FK_Timeslots_Users_UserId]
GO
